<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" style="padding-top: 15px; padding-bottom: 15px;">
    <div class="row">
      <div class="col-sm-1">
        <button class="hamburger" id="subjects" type="button" href="subjectsNL" style="font-size: 60px; padding-left: 30px;"><i class="fas fa-bars"></i></button>
      </div>
      <div class="col-sm-7">
      	<h4 style="font-size: 60px; text-align: right; font-family:times"><b><i>Mememorize</i></b></h4>
      </div>
    </div>
  </div>
</nav>
