
<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/index.css">
<link rel="stylesheet" href="/stylesheets/subjects.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<script src = "/js/login.js"></script>

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" style="padding-top: 15px; padding-bottom: 15px;">
    <div class="row">
      <div class="col-sm-1">
        <button id="login-back" type="submit" "><i class="fas fa-chevron-left" style="font-size: 75px; padding-left: 30px; padding-top: 10px;"></i></button>
      </div>
      <div class="col-sm-7">
        <h4 style="font-size: 60px; padding-left: 300px; font-family:times"><b><i>Subjects</i></b></h4>
      </div>
      <div class="col-sm-3" style="padding-left: 200px">
      <button id="login-button" type="submit"><i class="fas fa-check" style="font-size: 75px; padding-top: 10px "></i></button>
      </div>

      </div>
    </div>
  </div>
</nav>
<div style="padding-bottom: 225px;"></div>

      <div class="grid-container">
  <div class="grid-item"><button id="art" class="btn btn-primary" type="button" href="loggedin.handlebars"><img src="art.jpg"> <div class="centered">Art</div></button></div>
  <div class="grid-item"><button id="biology" class="btn btn-primary" type="button" href="loggedin.handlebars"><img src="biology.jpg"> <div class="centered">Biology</div></button></div>
  <div class="grid-item"><button id="compsci" class="btn btn-primary" type="button" href="loggedin.handlebars"><img src="compsci.jpg"> <div class="centered">Computer Science</div></button></div>
  <div class="grid-item"><button id="english" class="btn btn-primary" type="button" href="loggedin.handlebars"><img src="english.jpg"> <div class="centered">English</div></i></button></div>
   <div class="grid-item"><button id="history" class="btn btn-primary" type="button" href="loggedin.handlebars"><img src="history.jpg"> <div class="centered">History</div></button></div>
  <div class="grid-item"><button id="math" class="btn btn-primary" type="button" href="loggedin.handlebars"><img src="math.jpg"> <div class="centered">Math</div></button></div>
</div>
    



<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid" style="padding-top: 40px; padding-bottom: 40px;">
    <div class="row">
       </div>
        <div class="col-sm-4" id="help" style="text-align: center;">
        <button style="width: 50%; "  href="help.handlebars" type="button"><i class="far fa-question-circle" style="font-size: 80px;"></i></button>
      </div>
      <div class="col-sm-4" style="text-align: center;">
       <button style="width: 50%;" id="uploadMainButton" type="button" href="upload.handlebars"><i class="far fa-plus-square" style="font-size: 80px;"></i></button>
      </div>
      <div class="col-sm-4" style="text-align: center;">
        <button style="width: 50%;" type="button" id = "login-profile-button" href="loggedin.handlebars"><i class="fas fa-user" style="font-size: 80px;" ></i></button>
      </div>
    </div>
  </div>
</nav>
</body>
</html>