
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width-device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/upload.css">
<script src = "/js/upload.js"></script>

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" style="padding-top: 10px;">
    <div class="row">
      <div class="col-sm-4">
        <button id="cancel" style="margin: 0 auto; width: 100px">X</button>
      </div>
      <div class="col-sm-4">
      	<h4>MEME UPLOAD</h4>
      </div>
      <div class="col-sm-4">
        <button style="margin: 0 auto; width: 100px">O</button>
      </div>
    </div>
  </div>
</nav>
<div class="main" style="padding-top: 70px; padding-bottom: 70px;">
  <div style="text-align: center; padding-left:16px">
    <button style="align-content: center; margin: 0 auto; width: 100px">Upload</button>
  </div>
  <form>
    Title: <input type="text" name="title"><br>
    Description: <textarea></textarea><br>
    Tags:
    <select>
      <option value="volvo">Math</option>
      <option value="saab">English</option>
      <option value="mercedes">Science</option>
      <option value="audi">History</option>
      <option value="audi">Art</option>
    </select>
  </form>
</div>
</body>
</html>