
.btn {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px white;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn:hover {
  background: blue;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;
  grid-column-gap: 0px;
  grid-row-gap: 70px;
  position: relative;
  text-align: center;
  color: white;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  text-align: center;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
img {
	width:375px;
	height: 275px;
}
